<html>
  <head>
    <link rel='stylesheet' href = '/vendor/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet' href = '/css/mystyle.css'>
  </head>


  <div class = 'page-header'>Acme Product Users and Managers</div>



  <body class = 'well'>
    <nav class="navbar navbar-default">


      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/users"> Users </a></li>
        <li class ="active"><a href="/users/managers"> Managers </a></li>
      </ul>
    </nav>


    <table class = "table table-striped">
    {% for manager in managers%}

      <tr>
        <td> {{manager.name}}
          <form action="/users/{{manager.id}}?_method=PUT" method="POST">
            <button class = "btn btn-primary"> Demote </button>
          </form>
        </td>

      </tr>
    {% endfor %}
    </table>




  </body>

</html>
